@{
    ViewData["Title"] = "Future Improvements";
}

<h1>Future Improvements</h1>
<br>

<ol>
    <ul>UI Improvements</ul>
    <ul>Add Customer & Manager Login</ul>
    <ul>Customer Interaction</ul>
    <ul>Update Customer Manager Information</ul>
    <ul>Update Store Functionality</ul>
    <ul>Order Purchasing</ul>
    <ul>Location Tracking</ul>
    <ul>Add Unit and/or Integration Tests</ul>
    <ul>SonarCloud Code Review Implementation</ul>
</ol>
