@{
    ViewData["Title"] = "Future Improvements";
}

<h1>Future Improvements</h1>
<br>


<ol>
    <ul>Add Customer Login</ul>
    <ul>Add Unit or Integration Tests</ul>
    <ul>SonarCloud Code Review Implementation</ul>
    <ul>Add better error messages</ul>
</ol>
