@{
    ViewData["Title"] = "FutureUpdates";
}

<h1>Future Improvements</h1>


<ol>
    <ul>Add Customer Login</ul>
    <ul>Add Unit Tests</ul>
    <ul>SonarCloud Code Review Implementation</ul>
    <ul>Add better error messages</ul>

</ol>
