@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Patrick's Peppers</h1>
    <p>Hello, and welcome to Patrick's Peppers! We sell an assortment of sauces to spice up your life!.</p>

</div>
