@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<br>
<p>
    This site was created by James Patrick (J.P.) Embrey in 2021. J.P. was inspired by his love of hot and spicy food
    to create the one-stop shop for only the finest hot sauces on the market. All sauces are homemade and produced
    fresh from J.P.'s very own pepper farm. He and his team work tirelessly to bring you the best, spiciest, zingiest and
    zangiest array of sauces the world has ever seen. On top of his love for all things spicy, J.P. enjoys fitness, gaming,
    and working with multimedia and technology.
</p>
    
    

